{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block navbar %} Hai. I'll add the navbar shortly. {% endblock %}

{% block form %}
<section style="margin-left:250px">


    <form action="/student/student_detail/" method="get">
        {% csrf_token %}

        <table style="width:750px">
            <tr>
                <th>

                    <label style="font-size: medium;font-family:Arial"> Semester</label>
                </th>

                <th>
                    <label style="font-size: medium;font-family:Arial"> Register Number</label>


                </th>
                <th>
                    <label style="font-size: medium;font-family:Arial">Branch</label>

                </th>
            </tr>


            <tr>


                <td>
                    <select name="cursem">
                        <option value="1">S1</option>
                        <option value="2">S2</option>
                        <option value="3">S3</option>
                        <option value="4">S4</option>
                        <option value="5">S5</option>
                        <option value="6">S6</option>
                        <option value="7">S7</option>
                        <option value="8">S8</option>
                    </select>
                </td>

                <td>
                    <input type="number" name="regno"/>
                </td>


                <td>
                    <select name="branch">
                        <option value="CS">Computer Science And Engineering</option>
                        <option value="IT">Information Technology</option>
                        <option value="EE">Electrical & Electronics Engineering</option>
                        <option value="EC">Electronics & Communication</option>
                        <option value="SF">Safety & Fire Engineering</option>
                        <option value="CE">Civil Engineering</option>
                        <option value="ME">Mechanical Engineering</option>
                    </select>
                </td>
            </tr>
        </table>
        <div style="margin-left:250px">
            <td>
                <input type="submit" style="width=150px" value="Search">
            </td>
        </div>


    </form>
    <div style="margin-left:250px">
        <td>
            <a href="#" style="width=150px">Get Marklist as PDF</a>
        </td>
    </div>
    <h3 style="text-align:center">{{error}}</h3>
</section>

{% endblock %}

